.container {
    margin-top: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    background-color: rgba(0, 0, 0, 0.8);
    width: 640px;
    min-height: 480px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box .inputs > div {
    margin: 1rem 3rem 1rem;
    color: #fff;
}

.customMuiSelect::before,
.customMuiTextField .MuiInputBase-root::before {
    color: rgba(255, 255, 255, 0.8) !important;
    border-color: rgba(255, 255, 255, 0.8) !important;
}
.info-heading {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.customMuiSelect .MuiSelect-icon,
.customMuiSelect,
.customMuiTextField input {
    color: rgba(255, 255, 255, 0.8) !important;
}

.list-container {
    width: 100%;
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.list-container .item {
    background-color: #fff;
    width: 70%;
    padding: 0rem 2.4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 1.6rem;
}
.item::before {
    content: "";
    width: 1.6rem;
    height: 6.9rem;
    position: relative;
    margin-left: -2.4rem;
}

.item--low::before {
    background-color: #46abe3;
}
.item--medium::before {
    background-color: #edb231;
}
.item--high::before {
    background-color: #d6392e;
}

input[type="checkbox"] {
    border-radius: 80px;
}

.custom-checkbox {
    position: relative;
    min-width: 36px !important;
    min-height: 36px !important;
}
.custom-checkbox div {
    min-width: 36px !important;
    min-height: 36px !important;
    border-radius: 36px;
    border: 2px solid green;
    position: absolute;
    margin-left: 1.2rem;
    z-index: 1;
}

.custom-checkbox input[type="checkbox"] {
    position: absolute;
    min-width: 36px !important;
    min-height: 36px !important;
    opacity: 0;
    z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked ~ div {
    background-color: green;
}
